@import url(https://fonts.bunny.net/css?family=figtree:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i);

@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: "Figtree", sans-serif;

  --color-red-50: #fff0f2;
  --color-red-100: #ffe2e6;
  --color-red-200: #ffcace;
  --color-red-300: #ffa3ac;
  --color-red-400: #ff6f7e;
  --color-red-500: #d3072b;
  --color-red-600: #b30422;
  --color-red-700: #900118;
  --color-red-800: #780618;
  --color-red-900: #650918;
  --color-red-950: #37020a;
}

:root {
  --ui-bg: var(--color-stone-100);
  --ui-radius: 0.25rem;
}
